#entry_img{
    width: 1600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    min-width: 50%;
}
.content-container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;

}
.about-container{
  
    max-width: 900px;
}
.map-container{
    display: flex;
}
#map{
    align-items: flex-start;
    width: 400px;
    height: 400px;
    flex-basis: 60%;
}
.text-container{
    width: 30%;
    padding-left: 20px;
}
#content-divider::before{
    content: "\a";
    white-space: pre;
    display: block;
}
.cijenik-container{
    width: 900px;
 
}
.rezervacija-container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.content {
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: #e8eae6;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    display: none;
    /*to hide popup initially*/
}
  
.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}